<%=content_for :title do "VIP卡 | 佐康原生态食品" end%>
<%=content_for :keywords do "VIP卡,佐康" end%>
<%=content_for :description do "佐康原生态食品" end%>
<%=content_for :head do%>
  <%= stylesheet_link_tag "memberships/vip" %>
<%end%>

      <section class="pricing" id="membership">
        <div class="container">
          <div class="box">
            <div class="center">
              <h1>会员专享</h1>
              <p class="lead">
                Members enjoy Preferential<br />
                会员消费卡尊享优惠</p>
              <p>
                &nbsp;</p>
            </div>
            <!--/.center-->
            <div class="row" id="pricing-table">
              <div class="col-sm-4">
                <ul class="plan featured">
                  
                  <li>享有特惠折扣（9折～7.5折）</li>
                  <li>不定期的赠送精美礼品</li>
                  <li>固定客服高效率服务</li>
                  <li>免费送货到家</li>
                  <li>一年一次黑龙江基地度假旅游</li>
                  <li>不定期举办商业信息互动活动</li>
                  <li>佳节爱心礼品</li>
                  <!-- <li class="plan-price">会员尊享待遇</li> -->
                </ul>
              </div>
              <!--/.col-sm-4-->
              <div class="col-sm-4">
                <ul class="plan">
                  <li class="plan-price">
                    钻石卡会员</li>
                  <li>
                    预存：￥10000元</li>
                  <li class="plan-name">
                    折扣：7.5折</li>
                  <li>
                    积分：正常积分</li>
                  <li class="plan-action">
                    <%if signed_in?%>                
                      <!-- <a class="btn btn-primary" href="/card/purchase?level=you">立刻申请</a> -->
                      <a class="btn btn-primary" href="/member/new?type=3&return_url=<%=params[:return_url]%>">立刻申请</a>
                    <%else%>
                      <a class="btn btn-primary" href="/login?return_url=%2fvip">立刻申请</a>
                    <%end%>                    
                    <a class="btn btn-primary" href="<%=@return_url%>">以后再说</a>
                  </li>
                </ul>
              </div>
              <!--/.col-sm-4-->
              <div class="col-sm-4">
                <ul class="plan">
                  <li class="plan-price">
                    贵宾卡会员</li>
                  <li>
                    预存：￥2000元</li>
                  <li class="plan-name">
                    折扣：9折</li>
                  <li>
                    积分：正常积分</li>
                  <li class="plan-action">
                    <%if signed_in?%>                
                      <!-- <a class="btn btn-primary" href="/card/purchase?level=you">立刻申请</a> -->
                       <a class="btn btn-primary" href="/member/new?type=2&return_url=<%=params[:return_url]%>">立刻申请</a>
                    <%else%>
                      <a class="btn btn-primary" href="/login?return_url=%2fvip">立刻申请</a>
                    <%end%>

                    <a class="btn btn-primary" href="<%=@return_url%>">以后再说</a>
                  </li>
                </ul>
              </div>
              <!--/.col-sm-4-->
             
              
            </div>
          </div>
        </div>
      </section>

    
     