<!DOCTYPE html>
<html>
<head>
  <title>佐康原生态食品</title>
  <meta name="description" content="佐康原生态食品">
  <%= stylesheet_link_tag    "patch/profiles" %>
  <%= javascript_include_tag "patch/profiles" %>
  <%= stylesheet_link_tag    "patch/#{controller_name}"  if controller_name != "profiles"%>
  <%= javascript_include_tag "patch/#{controller_name}" if controller_name != "profiles"%>
  <%=render "shared/baidu"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "google-analytics" %>
</body>
</html>
